button, button:hover, button:active, button:focus {
    outline: 0;
    box-shadow: 0;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button.default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.button.default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.button.default:active,
.button.default.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.button.primary {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.button.primary:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.button.primary:active,
.button.primary.active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}